body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #111113;
    color: #d8d8d8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: local("Ubuntu-Medium"), url(./assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"), url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "VarelaRound-Regular";
    src: local("VarelaRound-Regular"), url(./assets/fonts/VarelaRound/VarelaRound-Regular.ttf) format("truetype");
}
